body {
  height: 100%;
  width:100;
  padding: 0;
  display: block;
  margin: 0;
  font: 20px Helvetica;
  font-weight: 300;
  background: url(https://78.media.tumblr.com/99374bb20db6134b5ef8b3ff07c22da8/tumblr_p6j0byF6D61u5c157o1_1280.jpg)
	top center / 100% 100% /* position / size */
	
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 45px;
  margin: auto 0 150px;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.8);
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: inherit;
}

.noise_btn {
  display: block;
  position: relative;
  width: 282px;
  height: 80px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin: 20px 30px;
  font-size: 18px;
  color: #fff;
  margin-bottom: auto;
  opacity: 0;
}
.noise_btn.canvas-ready {
  opacity: 1;
}
.noise_btn--bg {
  color: #000;
}
.noise_btn strong {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.noise-container {
  display: block;
  position: relative;
}

.noise-canvas {
  position: absolute;
  top: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 40px);
  left: -20px;
  pointer-events: none;
  z-index: 1;
}

footer {
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #fff;
  padding: 30px;
}
footer a {
  color: #f33232;
  text-decoration: none;
}
